<div class="pagetitle">

  
  <h1>Assign Roles to Profile ({{profileDetails?.name}}) </h1>


</div>

<section class="section">
  <div class="row profile-body">
    <!-- left wrapper start -->

    <!-- left wrapper end -->

    <!-- middle wrapper start -->

        </div>
    <!-- middle wrapper end -->

    <!-- right wrapper start -->

    <!-- right wrapper end -->

</section>

<section class="section">
  <div class="d-flex justify-content-between mb-2">
    <div style="color: red">
      <div class="">
        <div class="row">
          <div class="col-md-12 grid-margin">
            <div class="card rounded">
              <div class="card-body">
                <div class="d-flex align-items-center justify-content-between mb-2">
                  <h6 class="card-title mb-0">Existing Roles (Pending Assignment)</h6>

                  <hr>
                </div>
                <select [formControl]="pageSize" class="form-select ms-2 w-auto" aria-label="Default select example">
                  <option *ngFor="let option of pageSizeOptions" [value]="option.value">{{ option.name }}</option>
                </select>
                
                
                <div class="table table-responsive table-striped table-bordered">
                  <ngx-datatable
                    #table
                    (select)="onAddRole($event)"
                    [columnMode]="ColumnMode.force"
                    [columns]="columns"
                    [displayCheck]="displayCheck"
                    [footerHeight]="50"
                    [limit]="20"
                    [loadingIndicator]="missingRolesloading"
                    [rowHeight]="'auto'"
                    [rows]="pendingDataSet"
                    [selectAllRowsOnPage]="false"
                    [selected]="selectedAdd"
                    [selectionType]="SelectionType.checkbox"
                    class="bootstrap"
                  >
                    <ng-container *ngFor='let column of columns'>

                      <ngx-datatable-column
                        [canAutoResize]="false"
                        [checkboxable]="true"
                        [draggable]="false"
                        [headerCheckboxable]="true"
                        [resizeable]="false"
                        [sortable]="false"
                        [width]="60"
                      >
                      </ngx-datatable-column>

                      <ngx-datatable-column *ngIf='column.name == "ROLE NAME"' name="{{column.name}}"
                                            prop="{{column.prop}}">
                      </ngx-datatable-column>
                    </ng-container>

                  </ngx-datatable>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center mx-auto align-items-start row">
          <div class="col-12">
            <button (click)="changeRolesForProfile('add')" class="btn btn-primary mb-2" type="button"> >>
            </button>
            <br>
            <button (click)="changeRolesForProfile('remove')" class="btn btn-danger" type="button"> <<
            </button>
          </div>
    </div>


    <div style="color: green">
      <div class="">
      <div class="row">
        <div class="col-md-12 grid-margin">
          <div class="card rounded">
            <div class="card-body">
              <div class="d-flex align-items-center justify-content-between mb-2">
                <h6 class="card-title mb-0">Granted Roles (Assigned Roles)</h6>

              </div>

              <div class="table table-responsive table-striped table-bordered">
                <ngx-datatable
                  #table
                  (select)="onRemoveRole($event)"
                  [columnMode]="ColumnMode.force"
                  [columns]="columns"
                  [displayCheck]="displayCheck"
                  [footerHeight]="50"
                  [limit]="20"
                  [loadingIndicator]="missingRolesloading"
                  [rowHeight]="'auto'"
                  [rows]="rolesList"
                  [selectAllRowsOnPage]="false"
                  [selected]="selectedRemove"
                  [selectionType]="SelectionType.checkbox"
                  class="bootstrap"
                >
                  <ng-container *ngFor='let column of columns'>

                    <ngx-datatable-column
                      [canAutoResize]="false"
                      [checkboxable]="true"
                      [draggable]="false"
                      [headerCheckboxable]="true"
                      [resizeable]="false"
                      [sortable]="false"
                      [width]="60"
                    >
                    </ngx-datatable-column>

                    <ngx-datatable-column *ngIf='column.name == "ROLE NAME"' name="{{column.name}}"
                                          prop="{{column.prop}}">
                    </ngx-datatable-column>
                  </ng-container>

                </ngx-datatable>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</section>
