<div class="wrapper-lg bg-light lt">
    <div class="hbox">
    <aside class="aside-md">
    <div class="modal static fade" id="pop-photo-382" role="dialog" aria-labelledby="header-label" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm">
    <div class="modal-content">
    <div class="modal-header"><h4 class="modal-title" id="header-label"><i class="fa fa-picture-o"></i> Photo Upload</h4></div>
    <div class="modal-body">
    <form method="POST" action="https://smartschool.co.ke/home/schools/2844/students/382/photo" accept-charset="UTF-8" id="photo-382" onsubmit="if (!window.__cfRLUnblockHandlers) return false; return false;"><input name="_method" type="hidden" value="PUT"><input name="_token" type="hidden" value="19swHveYPiAwfYgIoDUjH3GPXj5ND2XWRplCWuOu">
    <div class="err-photo-382"></div>
    <div class="form-group">
    <div class="file-input file-input-new">
    <div class="kv-upload-progress kv-hidden" style="display: none;"><div class="progress">
        <div class="progress-bar bg-success progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%;">
            0%
         </div>
    </div></div><div class="clearfix"></div>
    <div class="input-group file-caption-main">
      <div class="file-caption form-control kv-fileinput-caption" tabindex="500">
      <span class="file-caption-icon"></span>
      <input class="file-caption-name tooltips" onkeydown="return false;" onpaste="return false;" placeholder="Select file..." data-placement="top" data-original-title="Select file...">
    </div>
    <div class="input-group-btn">
          
          <button type="button" tabindex="500" title="Abort ongoing upload" class="btn btn-default btn-secondary kv-hidden fileinput-cancel fileinput-cancel-button"><i class="glyphicon glyphicon-ban-circle"></i>  <span class="hidden-xs">Cancel</span></button>
          
          <div tabindex="500" class="btn btn-primary btn-file"><i class="glyphicon glyphicon-folder-open"></i>&nbsp;  <span class="hidden-xs">Browse …</span><input type="file" name="photo" class="form-control" data-show-remove="false" data-show-upload="false" data-show-preview="false" id="1722245355429_31"></div>
        </div>
    </div></div>
    </div>
    <div id="errorBlock" class="help-block file-error-message" style="display: none;"></div>
    <button type="button" class="btn btn-primary btn-block photo-382" onclick="if (!window.__cfRLUnblockHandlers) return false; poster('photo-382')"><i class="fa fa-cloud-upload"></i> Upload Photo</button>
    <button type="button" class="btn btn-default btn-block" data-dismiss="modal"><i class="fa fa-ban"></i> Cancel</button>
    </form>
    </div>
    </div>
    </div>
    </div>
    <div class="text-center">
    <div class="avatar-border shadow-4x m-b">
    <img id="photo-382" src="/storage/media/photos/69601/9ad6aaed513b73148b7d49f70afcfb32/c/192x192.jpg" alt="." class="img-circle img-responsive">
    </div>
    <div><button data-target="#pop-photo-382" data-toggle="modal" class="btn btn-sm btn-default m-b"><i class="i i-pictures"></i> Change Photo</button></div>
    </div> </aside>
    <aside>
    <h4 class="font-bold m-b m-t-none">Rajib Rajab</h4>
    <p><i class="i i-paperclip fa-lg fa-fw m-r-sm"></i>Adm. #: <b>BS2066</b> <span class="label label-success">Active</span></p>
    <p><i class="i i-info fa-lg fa-fw m-r-sm"></i>Gender: <b>Male</b></p>
    <div class="m-b-sm"><i class="i fa-lg i-location fa-fw m-r-sm"></i>Nationality:
    <img class="flag32" src="https://smartschool.co.ke/images/flags/1d/24/ad.png">
    </div>
    <p><i class="i i-support fa-lg fa-fw m-r-sm"></i>Sponsorship: <b>None</b></p>
    <p><i class="i i-bookmark fa-lg fa-fw m-r-sm"></i>Mode of Learning: <b>Boarding</b></p>
    <p><i class="fa fa-birthday-cake fa-lg fa-fw m-r-sm"></i>Date of birth: <b>2017-12-03</b></p>
    <p><i class="i i-calendar fa-lg fa-fw m-r-sm"></i>Admission Date: <b>2017-12-03</b></p>
    <p><i class="i i-folder2 fa-lg fa-fw m-r-sm"></i>Unique ID: <b>40540</b></p>
    </aside>
    <aside>
    <div class="m-t-lg">
    <h4 class="font-thin"><i class="fa fa-heartbeat"></i> Health Concerns</h4>
    <div class="m-l-md">&nbsp;None</div>
    </div>
    <div class="m-t">
    <h4 class="font-thin"><i class="fa fa-scissors"></i> Waiver/Discount</h4>
    <div class="m-l-md">&nbsp;None</div>
    </div>
    </aside>
    </div>
    </div>