<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-xl-4 left-wrapper">
      <h5 class="p-2 fw-bolder">Settings</h5>

      <div class="card rounded">
        <div class="email-aside-nav" id="asideNav">
          <ul class="list-group list-group-flush text-sm">
            <li
              class="list-group-item d-flex justify-content-between align-items-center text-sm cursor:pointer"
              [routerLink]="['/settings']"
            >
              Counties & Sub-Counties
              <span class="text-right text-sm"></span>
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center text-sm cursor:pointer"
              [routerLink]="['/settings/list-subcounties']"
            >
              Sub-Counties
              <span class="text-right text-sm"></span>
            </li>

            <li
              class="list-group-item d-flex justify-content-between align-items-center text-sm"
              [routerLink]="['/settings/school-curriculum']"
            >
              School Curriculum
              <span class="text-right text-sm"></span>
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center text-sm"
              [routerLink]="['/settings/school-types']"
            >
              Type
              <span class="text-right text-sm"></span>
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center text-sm"
              [routerLink]="['/settings/school-categories']"
            >
              Categories
              <span class="text-right text-sm"></span>
            </li>

            <li
              class="list-group-item d-flex justify-content-between align-items-center text-sm"
              [routerLink]="['/settings/school-designation']"
            >
              Designation
              <span class="text-right text-sm"></span>
            </li>

            <li
              class="list-group-item d-flex justify-content-between align-items-center text-sm"
              [routerLink]="['/settings/school-gender']"
            >
              Gender
              <span class="text-right text-sm"></span>
            </li>

            <li
              class="list-group-item d-flex justify-content-between align-items-center text-sm"
              [routerLink]="['/settings/documents-code']"
            >
              Document Codes
              <span class="text-right text-sm"></span>
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center text-sm"
              [routerLink]="['/settings/documents-types']"
            >
              Document Categories
              <span class="text-right text-sm"></span>
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center text-sm"
              [routerLink]="['/settings/list-identities']"
            >
              Identities
              <span class="text-right text-sm"></span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-8 col-xl-8">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
