#chart {
  max-width: 380px;
  margin: 35px auto;
  padding: 0;
}

.apexcharts-text .apexcharts-datalabel-label {
  color: white!important;
  font-size: 12px!important;
  font-family: "Nunito", sans-serif!important;
}
.card-custom-height {
  height: 105px; 
}
