<section
  class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4"
>
  <div class="container">
    <div class="row justify-content-center">
      <div
        class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center mx-5"
      >
        <div class="card mb-3">
          <div class="card-body">
            <div class="justify-content-center py-1">
              <div
                class="d-flex justify-content-center align-items-center w-auto"
              >
                <img
                  class="image-rounded"
                  src="assets/img/logo.png"
                  alt=""
                  width="70%"
                />
              </div>
            </div>
            <div class="pb-2">
              <h5
                class="card-title text-center pb-0 fs-4"
                style="color: #003cbd"
              >
                Reset Password
              </h5>
            </div>

            <form
              [formGroup]="changePasswordForm"
              class="row g-3 needs-validation"
              novalidate
            >
              <div class="col-12">
                <label class="form-label" for="newPassword"
                  >New Password *</label
                >
                <div class="input-group has-validation">
                  <input
                    type="password"
                    class="form-control"
                    id="newPassword"
                    formControlName="newPassword"
                  />
       
                  <button
                    appTogglePassword
                    class="input-group-text"
                    type="button"
                    aria-label="Toggle password visibility"
                  >
                    <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash-fill' : 'bi-eye-fill'"></i>
                  </button>
                  <div class="invalid-feedback">
                    Please enter your new password!
                  </div>
                </div>
              </div>
              <div class="col-12">
                <label class="form-label" for="newPassword"
                  >Confirm New Password *</label
                >
                <div class="input-group has-validation">
                  <input
                    type="password"
                    class="form-control"
                    id="confirmPassword"
                    formControlName="confirmPassword"
                  />
                  <button
                    appTogglePassword
                    class="input-group-text"
                    type="button"
                    aria-label="Toggle password visibility"
                  >
                    <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash-fill' : 'bi-eye-fill'"></i>
                  </button>
                  <div class="invalid-feedback">
                    Please enter your new password!
                  </div>
                </div>
              </div>

              <div class="col-12">
                <button
                  (click)="submit()"
                  class="btn btn-primary w-100 btn-change"
                  [disabled]="!changePasswordForm.valid || isLoading"
                >
                  Reset Password
                </button>
              </div>
              <div
                *ngIf="
                  changePasswordForm.hasError('passwordMismatch') &&
                  (changePasswordForm.get('newPassword')?.dirty ||
                    changePasswordForm.get('confirmPassword')?.dirty)
                "
              >
                <h6 class="text-center text-danger">Passwords do not match.</h6>
              </div>

              <div
                *ngIf="
                  changePasswordForm
                    .get('newPassword')
                    ?.hasError('passwordComplexity') &&
                  changePasswordForm.get('newPassword')?.dirty
                "
              >
                <h6 class="text-center text-danger">
                  Set up a more complex password.
                </h6>
              </div>
            </form>
            <ng-container
              *ngIf="!(loginResp$ | async) && isLoading"
              class="m-2 w-100"
            >
              <div class="mt-2">
                <progressbar
                  [animate]="true"
                  [max]="100"
                  [striped]="true"
                  [value]="50"
                  type="danger"
                  ><i>Reseting your password...</i></progressbar
                >
              </div>
            </ng-container>
          </div>
          <div class="col-12 text-center">
            <a
              style="cursor: pointer !important; color: rgb(113, 111, 111)"
              [routerLink]="'/login'"
              ><u>Cancel</u></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="footer-ds">
      &copy; Copyright <strong><span> School Data Capture <a href="https://eduvodafrica.com/"><i class="bi bi-globe"></i></a></span></strong>. All Rights Reserved
    </div> -->
</section>
