<div>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">{{ title }}</h5>
    <button (click)="closeModal()" aria-label="Close" class="btn-close" type="button"></button>
  </div>
  <form [formGroup]="form" (ngSubmit)="submitData()" class="modal-body">
    <div class="row"><div class="row">
      <div class="col-6">
        <label class="form-label" for="firstName">First Name</label>
        <input class="form-control" formControlName="firstName" id="firstName" name="firstName" type="text" autocomplete="false" />
      </div>
      <div class="col-6">
        <label class="form-label" for="middleName">Middle Name</label>
        <input class="form-control" formControlName="middleName" id="middleName" name="middleName" type="text" autocomplete="false" />
      </div>
      <div class="col-6">
        <label class="form-label" for="lastName">Last Name</label>
        <input class="form-control" formControlName="lastName" id="lastName" name="lastName" type="text" autocomplete="false" />
      </div>
      <div class="col-6">
        <label class="form-label" for="email">Email</label>
        <input class="form-control" formControlName="email" id="email" name="email" type="email" autocomplete="false" />
      </div>
      <div class="col-6">
        <label class="form-label" for="nationalId">National id</label>
        <input class="form-control" formControlName="nationalId" id="nationalId" name="nationalId" type="number" autocomplete="false" />
        <small *ngIf="form.get('nationalId')?.value < 0 && form.get('nationalId')?.touched" class="text-danger">Cannot be a negative value</small>
      </div>
      <div class="col-6">
        <label class="form-label" for="phoneNo">Phone Number</label>
        <input class="form-control" formControlName="phoneNo" id="phoneNo" name="phoneNo" type="number" autocomplete="false" />
      </div>
      <div class="col-6">
        <label class="form-label" for="department">Department</label>
        <input class="form-control" formControlName="department" id="department" name="department" type="text" autocomplete="false" />
      </div>
      <div class="col-6">
        <label class="form-label" for="officePhoneNo">Office Phone Number</label>
        <input class="form-control" formControlName="officePhoneNo" id="officePhoneNo" name="officePhoneNo" type="text" autocomplete="false" />
      </div>
      <div class="col-6">
        <label class="form-label" for="employmentNo">Employment Number</label>
        <input class="form-control" formControlName="employmentNo" id="employmentNo" name="employmentNo" type="text" autocomplete="false" />
      </div>
    </div>
    <p *ngIf="isLoading">
      <ngb-progressbar [animated]="true" [striped]="true" [value]="95" type="primary"></ngb-progressbar>
    </p>
    <div class="modal-footer">
      <button (click)="closeModal()" class="btn btn-secondary" type="button">Close</button>
      <button type="submit" [disabled]="!form.valid || isLoading" class="btn btn-primary">
        {{ formData ? 'Edit Agent' : 'Add Agent' }}
      </button>
    </div>
</div>
