<section
  class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4"
>
  <div class="container">
    <div class="row justify-content-center">
      <div
        class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center mx-5"
      >
        <div class="card mb-3">
          <div class="card-body">
            <div class="justify-content-center py-1">
              <div
                class="d-flex justify-content-center align-items-center w-auto"
              >
                <img
                  class="image-rounded"
                  src="assets/img/logo.png"
                  alt=""
                  width="70%"
                />
              </div>
              <div class="logo pt-4 text-center mx-auto">
                <span class="text-center" style="color: #003cbd"
                  >Reset Password</span
                >
              </div>
            </div>

            <form
              [formGroup]="loginForm"
              class="row g-3 needs-validation"
              novalidate
            >
              <div class="col-12">
                <label class="form-label" for="yourUsername">Email</label>
                <div class="input-group has-validation">
                  <span class="input-group-text" id="inputGroupPrepend">@</span>
                  <input
                    class="form-control"
                    formControlName="email"
                    id="yourUsername"
                    name="username"
                    type="text"
                  />
                  <div class="invalid-feedback">
                    Please enter your username.
                  </div>
                </div>
              </div>

              <div class="col-12">
                <button
                  (click)="submit()"
                  class="btn btn-primary w-100 btn-resetpswd"
                  [disabled]="!loginForm.valid || isLoading"
                >
                  Reset Password
                </button>
              </div>

              <div class="col-12 text-center">
                <a style="cursor: pointer !important" (click)="backToLogin()"
                  ><u>Back to Login</u></a
                >
              </div>
            </form>
            <ng-container
              *ngIf="!(loginResp$ | async) && isLoading"
              class="m-2 w-100"
            >
              <div class="mt-2">
                <progressbar
                  [animate]="true"
                  [max]="100"
                  [striped]="true"
                  [value]="50"
                  type="danger"
                  ><i>Authentication in progress...</i></progressbar
                >
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="footer-ds">
      &copy; Copyright <strong><span> School Data Capture <a href="https://eduvodafrica.com/"><i class="bi bi-globe"></i></a></span></strong>. All Rights Reserved
    </div> -->
</section>
