.clickable {
  cursor: pointer!important;
}
.nav-item .last-login{
  font: 10px!important;
}
.toggle-sidebar-btn {
  color: #004889;
  font-size: 32px;
  cursor: pointer;
}

.bi-list {
  margin-left: 0%;
}

.bi-x {
  margin-left: 60%;
}

.logo {
  margin-left: 20px;
}

.logo span {
  text-decoration: none !important;
  color: #004889 !important;
}
