<section class="section">
  <div class="d-flex justify-content-between mb-2">
    <div class="pagetitle">
      <h1>System Admins</h1>
    </div>
    <app-custom-tbl-header
      [allColumns]="allColumns"
      [rows]="filteredRows.length > 0 ? filteredRows : rows"
      [title]="title"
      [rows]="admin$ | async"
      (searchResultsEvent)="searchResultUniversal($event)"
      (filterDateEvent)="searchResultByDate($event)"
      [showAddButton]="true"
      (openAddModalEvent)="openEditSystemAdminModal(null)"
      (changeColumnsEvent)="updateColumns($event)"
    ></app-custom-tbl-header>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card p-1">
        <div class="table-responsive" *ngIf="!loading">
          <app-custom-tbl
            [columns]="columns"
            [rows]="admin$ | async"
            [rows]="rows"
            [loadingIndicator]="false"
            [totalItems]="totalRecords"
            [actions]="actions"
            (outputEvent)="triggerEvent($event)"
            (updateFilteredRows)="updateFilteredRowsEvent($event)"
          ></app-custom-tbl>
        </div>
        <div class="mx-auto text-center" *ngIf="loading">
          <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
