<div class="container mt-4">
  <!-- Status and Clarification section -->
  <div class="row mb-4">
    <div class="col d-flex flex-column">
      <p class="status">
        <strong>Status: </strong> {{ completion_status }} {{ completion_percentage }}%
      </p>
      <p class="clarification-remarks" *ngIf="completion_status === 'CLARIFICATION'||remarkStatus === 'REVIEW' ">
        <strong>Clarification:</strong> {{ clarificationStatus }}
      </p>
    </div>
    <div class="col-auto">
      <!-- Add/Close Clarification buttons -->
      <button class="btn btn-outline-primary clarification"
              *ngIf="(profile === 'ROLE_PARTNER' || profile === 'ROLE_SUPER-ADMIN') && remarkStatus === 'CLOSED'"
              (click)="addClarification()">
        Add Clarification
      </button>
      <button class="btn btn-outline-primary clarification"
              *ngIf="(profile === 'ROLE_PARTNER' || profile === 'ROLE_SUPER-ADMIN') && remarkStatus === 'REVIEW'"
              (click)="closeClarification()">
        Close Clarification
      </button>
      <button
      class="btn btn-outline-primary clarification"
      *ngIf="(profile === 'ROLE_PARTNER' || profile === 'ROLE_SUPER-ADMIN') && remarkStatus === 'OPEN'"
     
    >
    Clarification request sent to Agent
    </button>
    <div class="mx-auto text-center" *ngIf="loading">
      <div class="spinner-border text-primary mt-3" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    </div>
  </div>

  <section class="section">
    <div class="row">
      <div class="col-md-12">
        <div class="card p-1">
          <ngb-accordion [closeOthers]="true">
            <ngb-panel *ngFor="let contact of contactsList; let i = index" [id]="'panel-' + i" [title]="contact?.name | titlecase"
                       (panelChange)="loadContactDetails(contact.id)">
              <ng-template ngbPanelContent>
                <div class="container mb-4">
                  <div class="row">
                    <div class="col-sm-5 col-md-6">
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex align-items-center">
                          <span class="list-title">Name:</span>
                          <span class="text-right p-1">{{ contact?.name }}</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center">
                          <span class="list-title">Email:</span>
                          <span class="text-right p-1">{{ contact?.emailAddress }}</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center">
                          <span class="list-title">Phone Number:</span>
                          <span class="text-right p-1">{{ contact?.phoneNumber }}</span>
                        </li>
                      </ul>
                    </div>
                    <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex align-items-center">
                          <span class="list-title">School:</span>
                          <span class="text-right p-1">{{ contact?.school }}</span>
                        </li>
                        <li class="list-group-item d-flex align-items-center">
                          <span class="list-title">Designation:</span>
                          <span class="text-right p-1">{{ contact?.designation }}</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div *ngIf="contact.details">
                  <!-- Display additional contact details here -->
                </div>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </div>
      </div>
    </div>
  </section>
</div>
